<!-- START _FORM PARTIAL -->
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %> <!-- errors.each -->
      </ul>
    </div><!-- error_explanation -->
  <% end %><!-- user.errors.any? -->

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <% if @user.new_record? %>
      <%= f.label :username, "Username" %>
      <p>Create a unique username with no spaces or capital letters. You will not be able to change this later.</p>
      <%= f.text_field :username %>
    <% else %>
      <%= f.label :username, "Your Custom URL" %>: 
      http://restaurantqueue.herokuapp.com/users/<%= @user.username %>
    <% end %><!-- if new user -->
  </div><!-- field -->
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <% if @user.new_record? %>
      <%= f.submit "Create Account" %>
    <% else %>
      <%= f.submit "Update Account" %>
    <% end %><!-- if new record -->
  </div><!-- actions -->
<% end %><!-- form_for -->

<!-- END _FORM PARTIAL -->
