<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <% if @user.new_record? %>
    <div class="field">
    <p>Enter a username that will be your custom URL. You will not be able to change this later.</p>
      <%= f.label :username %><br>
      <%= f.text_field :username %>
  <% else %>
    <%= f.label :username, "Your Custom URL" %>: 
    https://localhost:3000/users/<%= @user.name %>
    </div><!-- field -->
  <% end %><!-- if new user -->
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
