<%= content_for(:title, "#{@user.name}'s Profile") %>

<p id="notice"><%= notice %></p>

<h2>User Information</h2>
<% unless profile_image_for(@user).include? "https://secure.gravatar.com/avatar/e5c584dada3d2782af5c451aeb72287c" %>
  <%= profile_image_for(@user) %>
<% else %>
  <div class="external-link">
    <%= profile_image_for(@user) %>
    <p><%= link_to "Add an Image via Gravatar", "https://en.gravatar.com/", target: "_blank" %></p>
  </div> <!-- external-link -->
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h2>Restaurant Stats</h2>
<p>
  <strong>On List:</strong>
  <%= @restaurants.active.size %> 
</p>

<p>
  <strong>Favorites:</strong>
  <%= link_to @restaurants.fave.size, filtered_restaurants_path(:fave) %>
</p>

<p>
  <strong>Meals Out:</strong>
  <%= outings_count(@restaurants) %>
</p>

<p>
  <strong>Favorite Dishes:</strong>
  <%= dishes_count(@restaurants) %>
</p>

<p>
  <strong>Restaurants Not Tried Yet:</strong>
  <%= untried_restaurant_count(@restaurants) %>
</p>

Move this to a scope on the index page
<ul>
<% untried_restaurants(@restaurants).each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant %></li>
<% end %> <!-- each -->
</ul>

<%= link_to 'Account Settings', edit_user_path(@user), class: "btn btn-xs btn-default" %>