<%= content_for(:title, "#{@user.name}'s Profile") %>

<p id="notice"><%= notice %></p>

<h2>User Information</h2>
<% unless profile_image_for(@user).include? "https://secure.gravatar.com/avatar/e5c584dada3d2782af5c451aeb72287c" %>
  <div class="external-link">
    <%= profile_image_for(@user) %>
    <p><%= link_to " Edit Gravatar", "https://en.gravatar.com/emails/", target: "_blank", class: "fa fa-pencil" %></p>
  </div> <!-- external-link -->
<% else %>
  <div class="external-link">
    <%= profile_image_for(@user) %>
    <p><%= link_to " Add Gravatar Image", "https://en.gravatar.com/", target: "_blank", class: "fa fa-plus" %></p>
  </div> <!-- external-link -->
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Custom URL:</strong>
  http://restaurantqueue.herokuapp.com/users/<%= @user.username %>
</p>

<h2>Restaurant Stats</h2>
<p>
  <strong>On List:</strong>
  <%= @restaurants.active.size %> 
</p>

<p>
  <strong>Favorites:</strong>
  <%= link_to @restaurants.fave.size, filtered_restaurants_path(:fave) %>
</p>

<p>
  <strong>Meals Out:</strong>
  <%= outings_count(@restaurants) %>
</p>

<p>
  <strong>Favorite Dishes:</strong>
  <%= dishes_count(@restaurants) %>
</p>

<p>
  <strong>Restaurants Not Tried Yet:</strong>
  <%= untried_restaurant_count(@restaurants) %>
</p>

Move this to a scope on the index page
<ul>
<% untried_restaurants(@restaurants).each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant %></li>
<% end %> <!-- each -->
</ul>

<%= link_to ' Account Settings', edit_user_path(@user), class: "btn btn-sm btn-default fa fa-gears" %>

<%= link_to " Delete My Account", @user, class: "btn btn-sm btn-default fa fa-ban", method: :delete, data: { comfirm: "Are you sure you want to delete this account? This action cannot be undone." } %>