<%= form_for [@restaurant, @outing] do |f| %>
  <%= render "shared/errors", object: @outing %>
  <fieldset>
      <div class="required">
        <%= f.label :date %>
        <%= f.date_field :date %>
      </div>
      <div class="required">
        <%= f.label :note %>
        <%= f.text_field :note, cols: 80, placeholder: "[outing note]" %>
      </div>
      <div class="actions">
        <% if @outing.new_record? %>
          <%= f.submit "Create Visit" %>
        <% else %>
          <%= f.submit "Update Visit" %>
        <% end %>
      </div><!-- actions -->
    <p>
      <%= link_to "Cancel", @restaurant, class: 'btn btn-default btn-xs' %>
    </p>
  </fieldset>
<% end %>