<%= form_for [@restaurant, @dish] do |f| %>
  <%= render "shared/errors", object: @dish %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :name %>
        <%= f.text_field :name, cols: 80, placeholder: "[dish name]" %>
      </li>
    </ol>
    <p>
      <%= f.submit 'Submit' %> 
      <%= link_to "Cancel", @restaurant, class: 'button' %>
    </p>
  </fieldset>
<% end %>