<%= form_for [@restaurant, @dish] do |f| %>
  <%= render "shared/errors", object: @dish %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :name %>
        <%= f.text_field :name, cols: 80, placeholder: "[dish name]" %>
      </li>
    </ol>
    <div class="actions">
      <% if @dish.new_record? %>
        <%= f.submit "Create Dish" %>
      <% else %>
        <%= f.submit "Update Dish" %>
      <% end %><!-- actions -->
    </div>
    <p>
      <%= link_to "Cancel", @restaurant, class: 'btn btn-default btn-xs' %>
    </p>
  </fieldset>
<% end %>