<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %><!-- do -->
      </ul>
    </div>
  <% end %><!-- if errors -->
  <fieldset>

  <ol>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <% unless @restaurant.new_record? %>
    <div class="field">
      <%= f.label :slug, "Custom URL" %><br>
      <%= f.text_field :slug, size: 30 %>
    </div> <!-- field -->
  <% end %>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, Restaurant::STATES, prompt: "Pick one" %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :category, "Category" %><br>
    <p>Please select at least 1 Category:</p>
  </div>
  <div class="form-columns3">
    <%= f.collection_check_boxes(:category_ids, Category.all.order(name: :asc), :id, :name) %>
  </div> <!-- form-columns3 -->
  <div class="field">
    <%= f.label :image_file_name %><br>
    <%= f.text_field :image_file_name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.select :price, Restaurant::PRICES, prompt: "Pick One" %>
  </div>
  <div class="field">
    <%= f.label :fave %><br>
    <%= f.check_box :fave %>
  </div>
  <div class="field">
    <%= f.label :archive %><br>
    <%= f.check_box :archive %>
  </div>
  
  <div class="button-buffer"></div> <!-- button-buffer -->
    
  <div class="actions">
    <% if @restaurant.new_record? %>
      <%= f.submit "Create Restaurant" %>
    <% else %>
      <%= f.submit "Update Restaurant" %>
    <% end %><!-- actions -->
    <% if @restaurant.new_record? %>
      <%= link_to 'Cancel', restaurants_path, class: "btn btn-xs btn-default" %>
    <% else %>
      <%= link_to 'Cancel', @restaurant, class: "btn btn-xs btn-default" %>
    <% end %><!-- new record? -->
  </div>
  </fieldset>
<% end %><!-- form for -->

