<div class="image-container">
  <div class="index-corner-banner">
    <%= corner_banner(restaurant) %>
  </div> <!-- corner-banner -->
</div> <!-- image-container -->

<article class="index-listing">
  <div class="image-container">
    <div class="index-image">
      <%= link_to image_for(restaurant), restaurant %>
    </div><!-- index-image -->
  </div> <!-- image-container -->

  <div class="index-info">
    <h2><%= link_to restaurant.name, restaurant %> </h2>
    <p><%= restaurant.street %> (map)</p>
    <p><%= restaurant.price %>, 
      <% restaurant.categories.limit(3).each do |category| %>
        <%= link_to category.name, category %>
      <% end %><!-- categories each -->
    </p>
  </div> <!-- index-info -->
</article>