<%= content_for(:title, "Restaurants") %>

<p id="notice"><%= notice %></p>

<div class="pull-right">
  <%= link_to ' Add a Restaurant', new_restaurant_path, class: "fa fa-plus btn btn-sm btn-default" %> 
</div> <!-- pull-right -->

<h1><%= restaurant_filter_title %></h1>
<%= show_all_button %>

  <% @restaurants.order("created_at DESC").each do |restaurant| %>
    <%= render :partial => "restaurant", :object => restaurant %>
  <% end %>

