<%= content_for(:title, @category.name) %>

<p id="notice"><%= notice %></p>

<h2><%= @category.name %> Restaurants</h2>

  <% @restaurants.order("name").each do |restaurant| %>
    <% if current_user.restaurants.include? restaurant %>
     <%= render :partial => "restaurants/restaurant", :object => restaurant %>
    <% end %> <!-- if -->
  <% end %> <!-- each do -->

<div class="btn btn-default btn-sm">
  <icon class="fa fa-arrow-left"> </icon>
  <%= link_to ' Back', categories_path %>
</div>

<% if current_user_admin? %>
  <div class="btn btn-default btn-sm">
    <icon class="fa fa-pencil"> </icon>
    <%= link_to 'Edit Category Name', edit_category_path(@category) %>
  </div><!-- btn btn-default btn-sm -->
  <div class="btn btn-default btn-sm">
    <icon class="fa fa-ban"> </icon>
    <%= link_to 'Delete Category', @category,
              method: :delete, data: { confirm: 'Are you sure?' } %>
  </div><!-- btn btn-default btn-sm -->
<% end %><!-- current_user_admin -->
