<%= content_for(:title, @category.name) %>

<p id="notice"><%= notice %></p>

<h2><%= @category.name %> Restaurants</h2>
<ol>

  <% @restaurants.order("name").each do |restaurant| %>
    <% if current_user.restaurants.include? restaurant %>
     <li><%= link_to restaurant.name, restaurant %></li>
    <% end %> <!-- if -->
  <% end %> <!-- each do -->
</ol>

<%= link_to 'Back', categories_path, class: "btn btn-xs btn-default" %>

<% if current_user_admin? %>
   <%= link_to 'Edit Category Name', edit_category_path(@category), class: 'btn btn-default btn-xs' %>
  <%= link_to 'Delete Category', @category,
              class: 'btn btn-default btn-xs',
              method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
