<h1>RestaurantApp</h1>
<h3>
  <% if current_user %>
    <%= link_to "#{current_user.name}'s Profile", current_user %> | 
    <%= link_to "Account Settings", edit_user_path(current_user) %> | 
    <% if current_user.admin? %>
        <%= link_to "All Users", users_path %> | 
      <% end %><!-- admin? -->
    <%= link_to "Sign Out", session_path, method: :delete, class: "btn btn-default btn-xs" %> 
    <% else %>
    <%= link_to "Sign In", new_session_path, class: "btn btn-default btn-xs" %> 
    <%= link_to "Sign Up", signup_path, class: "btn btn-default btn-xs" %>
  <% end %> <!-- current_user? -->
</h3>

<p>
<%= link_to "Home", root_path %> | <%= link_to "My Restaurants", restaurants_path %> | <%= link_to "Categories", categories_path %> | <%= link_to "Faves", filtered_restaurants_path(:fave) %> | <%= link_to "Not Tried", filtered_restaurants_path(:not_tried) %> | Been a While | <%= link_to "Archived", filtered_restaurants_path(:archived) %> 
</p>
<hr>